.course {
    width: 300px;
    border: 1px solid lightgray;
}

Button:hover {
    background-color: lightseagreen;
}

.course img {
    width: 286px;
    height: 286px;
}

.btn-cart {
    width: 100%;
    background-color: bisque;
    border: none;
    border-radius: 10px;
}