.container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-bottom: 10px;
    margin-top: 10px;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;

}